  
<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Laptop Recommendation System</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="/suggest" method="post">

    	<input type="text " name="model" placeholder="enter your specs" required="required" />
        

        <button type="submit" class="btn btn-primary btn-block btn-large" , value='suggest'>Submit</button>
    </form>

  </div>     

  <div id="tablediv" style="
  padding-left: 40%; padding-top: 28%;
">
    <table>
      <tr>
        <th>S.NO</th>
      <th>Laptop</th>
    </tr>
    
      {%for i,j in result%}
      <tr>
      <td>{{i+1}}</td>
      <td>{{j}}</td>
    </tr>
      {%endfor%}    
    </table>

   </div>
  
  




</body>
</html>
